* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    /* Varsayılan yazı rengin beyaz olsun */
}

/* Firefox için */
input[type=number] {
    -moz-appearance: textfield;
    /* Firefox'a özel */
    appearance: textfield;
    /* Standart özellik */
}

.Layout {
    background-color: #121212;
}

.Content {
    width: 100%;
    background-color: #121212;
}