.main-footer {
    padding: 40px 0;
    background-color: #121212;
    border-top: 1px solid #333;
    text-align: center;
    margin-top: auto;
}

.footer-content p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-links a {
    color: #888;
    text-decoration: none;
    font-size: 0.85rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ffb400;
    /* Üzerine gelince Fisoyl rengine döner */
}