.search-bar {
    position: relative;
    width: 95%;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 999px;
    border: none;
    outline: none;
    background: #1e293b;
    color: #f1f5f9;
    font-size: 14px;
}

.search-input::placeholder {
    color: #94a3b8;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #94a3b8;
    pointer-events: none;
}

/* focus efekti */
.search-input:focus {
    background: #334155;
}

@media (min-width : 1400px) {
    .search-bar {
        width: 80%;
    }
}